.project {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    box-shadow: 0.3em 0.3em 1em gray;

    max-width: 300px;
    max-height: 400px;
}

.workImg {
    max-width: 100%;
    min-height: 180px;
    height: auto;

}
.name {
    padding: 5px;
    justify-content: space-between;
}
.description{
    padding: 10px;

}
.projectLinks{
    display: flex;
    gap: 15px;
}

i {
    font-size: 20px;
}

/* DISPLAY WORK CONTAINER */

.con {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 0px;
}
.heading{
    grid-column: 1/4;
}