@font-face {
    font-family: "dunkin";
    src: url("/fonts/dunkin_bold-webfont.woff2") format("woff2"),
      url("/fonts/dunkin_bold-webfont.woff") format("woff");
  }
  @font-face {
    font-family: "infinity";
    src: url("/fonts/madeinfinity_personaluse-thin-webfont.woff2") format("woff2")
      url("/fonts/dunkin_bold-webfont.woff") format("woff");
  }
  @font-face {
    font-family: "roboto";
    src: url("/fonts/roboto-condensed-webfont.woff2") format("woff2"),
      url("/fonts/roboto-condensed-webfont.woff") format("woff");
  }  


.project {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    box-shadow: 0.3em 0.3em 1em gray;

    max-width: 300px;
    max-height: 400px;
    transition: transform .2s ease-in-out;
    font-family: "roboto";

}
.project:hover{
    transform: scale(1.1);
}

.workImg {
    max-width: 100%;
    min-height: 180px;
    height: auto;

}
.name {
    padding: 5px;
    justify-content: space-between;
}
.description{
    padding: 10px;

}
.projectLinks{
    display: flex;
    gap: 15px;
    cursor: pointer;
}

i {
    font-size: 20px;
}

/* DISPLAY WORK CONTAINER */

.con {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
}
.heading{
    grid-column: 1/4;
    font-family: "roboto";
}

.footInfo{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
}

.footCon{
    display: flex;
    justify-content: center;
    gap: 160px;
    font-family: "roboto";
}

.footIcon{
    font-size: 30px;
}

.email,.phone{
    display: flex;
    gap: 20px;
}
.email{
    margin-top: -25px;
}
.footImg {
    max-width: 500px;
}